1.  Given the participants' score sheet for your University Sports Day, you are required to
find the runner-up score. You are given scores. Store them in a list and find the score of
the runner-up. (Create an array of scores and print the runner up score)

In [2]:
list_val = [80, 60, 90, 70, 10]
list_val.sort()
print("The runner up score is:", list_val[-2])

The runner up score: 80


2.  A dictionary is given D={‘John’ [25,32,43],’Peter’:[87,55,96],’Ram’:[58,55,43],’Meena’:[63,79,85]}
Get a name from user if the name in the dictionary change the values corresponding to
that user to [88,737,99] and print the dictionary. Else print ‘Name not found’.

In [ ]:
candidate_name={'John':[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}

user_name=input("Enter the candidate name")
#value=[88,77,99]
if user_name in candidate_name:
 # candidate_name['']=[88,77,99]
  print(candidate_name)
else:
  print('Name not found')

3.  Ticket Price Calculator:

In [28]:

age=int(input('please give your age'))
gender=input("Enter Your gender")


if age<5 and age>1 or age>=60:
  print("Ticket price is free")
elif age>=5 and age<=12:
  if gender=='male':
    print("Ticket price is Rs.10")
  else:
    print("Ticket price is Rs.5")
elif age>12 and age<60:
  if gender=='male':
    print("Ticket price is Rs.50")
  else:
    print("Ticket price is Rs.25")

else:
 print("Invalid age")

please give your age8
Enter Your genderfemale
Ticket price is Rs.5